body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Styling untuk Navbar
.navbar-brand {
    /* Jangan taro img {} di luar .navbar-brand, karena 
    semua img yng tdk termasuk dlm navbar bakal jd 40px */
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .navbar-link {
            color: #071C4D;

            &:active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -9px !important;
    margin-right: -18px !important;
}

.btn-login {
    background-color: #071C4D;
    color: #fff;

    &:hover {
        background-color: #1E3771;
        color: #fff;
    }
}

// Styling untuk footer
.section-footer {
    background-color: #f2f2f2;
    color: #071c4d;
}

// Styling untuk main
.section-details-header {
    min-height: 310px;
    background-color: #e4e6e8;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &:hover {
            font-weight: bold;
            color: #071c4d;
        }    
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-images  {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid;
                box-shadow: none;
            }
        }
    }

    .member {
        .member-images {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .btn-join-now {
        background-color: #ff9e53;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: #ffb57c;
            color: #fff;
        }
    }
}